[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "site-lisp/tango-plus-theme"]
	path = site-lisp/tango-plus-theme
	url = https://github.com/evgeniysharapov/tango-plus-theme
[submodule "site-lisp/org/org-reveal"]
	path = site-lisp/org/org-reveal
	url = https://github.com/evgeniysharapov/org-reveal.git
[submodule "site-lisp/ag-el"]
	path = site-lisp/ag-el
	url = https://github.com/evgeniysharapov/ag.el.git
