history
loaddefs.el*
backups/*
auto-save-list
*elc
places
.svn
.DS_Store
image-dired/
elim/
session*
*~
tramp
\#*
/server/server
site-lisp/elpa/**/*
ede-projects.el
/bookmarks
/.org-id-locations
site-lisp/elpa/*
url
eshell
elpa/*
ac-comphist.dat
/.emacs.desktop
/.emacs.desktop.lock
